<%= form_for(@workhour) do |f| %>
  <% if @workhour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workhour.errors.count, "error") %> prohibited this workhour from being saved:</h2>

      <ul>
      <% @workhour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="input-append date datepicker">
  	 <%= f.label :date_of_workhour %><br />
  	 <span class="add-on"><i class="fa fa-table"></i></span>
	 <%= f.text_field :date_of_workhour, :class=>'datepicker', :placeholder=>'Select date' %> 	 
  </div>
  

  
  <div class="field">
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </div>
  <div class="field">
    <%= f.label :factor %><br />
    <%= f.number_field :factor %>
  </div>
  <div class="field">
    <%= f.label :nettoLoon %><br />
    <%= f.text_field :nettoLoon %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
