<h1>Listing workhours</h1>

<table>
  <tr>
    <th>Date of workhour</th>
    <th>Hours</th>
    <th>Factor</th>
    <th>Nettoloon</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workhours.each do |workhour| %>
  <tr>
    <td><%= workhour.date_of_workhour %></td>
    <td><%= workhour.hours %></td>
    <td><%= workhour.factor %></td>
    <td><%= workhour.net_wage %></td>
    <td><%= workhour.user_id %></td>
    <td><%= link_to 'Show', workhour %></td>
    <td><%= link_to 'Edit', edit_workhour_path(workhour) %></td>
    <td><%= link_to 'Destroy', workhour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workhour', new_workhour_path %>
