<div id="topbar">
	<%= link_to 'Back to users', users_path, class: "btn btn-primary btn-sm" %> 
	<%= link_to 'Edit User', edit_user_path(@user), class: "btn btn-primary btn-sm" %>
	<%= link_to 'Add workhour', new_user_workhour_path(@workhour), { remote: true, 'data-toggle' => "modal", 'data-target' => "#modal-window",  class: "btn btn-success" }  %>	
	
	<span class="userinfo">
		<b><%= @user.name %>:</b>
		<b>Bruto:</b> &euro;<%= @user.hourly_gross %> 
		<b>Netto:</b> &euro;<%= @user.hourly_net_wage %>
	</span>
	<span class="userdata">
		<b>total hours: </b> <%= @user.total_hours %> 
		<b>total money:</b> &euro;<%= @user.total_net_gain %> 
	</span>
	
</div>

<div style="height:80px;"></div>
<%= notice %>

<table class="table table-striped">
	<th>Date of workday</th><th>Hours worked</th><th>Factor % </th><th>Net hourly wage</th><th>Earned money this day</th><th>Action</th>
 		<% @user.workhours.each do |workhour| %> 		
   		<tr> 
        <td><%= workhour.date_of_workhour %> </td>
        <td><%= workhour.hours %></td>
        <td><%= workhour.factor %>%</td>
        <td>&euro;<%= workhour.net_wage %> </td>
        <td>&euro;<%= workhour.total_gain %></td>
        <td><%= link_to 'Edit', edit_user_workhour_path(workhour), class: "btn btn-primary btn-sm" %>
        	<%= link_to 'Delete', user_workhour_path(workhour), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' }  %>	</td>
      </tr>
 		<% end %>
 		
</table>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel", aria-hidden="true">

