<p id="notice"><%= notice %></p>

<

<p>
  <b>Date of workhour:</b>
  <%= @workhour.date_of_workhour %>
</p>

<p>
  <b>Hours:</b>
  <%= @workhour.hours %>
</p>

<p>
  <b>Factor:</b>
  <%= @workhour.factor %>
</p>

<p>
  <b>Nettoloon:</b>
  <%= @workhour.net_wage %>
</p>

<p>
  <b>User:</b>
  <%= @workhour.user_id %>
</p>


<%= link_to 'Edit', edit_workhour_path(@workhour) %> |
<%= link_to 'Back', workhours_path %>
