<p id="notice"><%= notice %></p>

<% @user.workhours.each do |workhour| %>
 <%= workhour.date_of_workhour %><br>
<% end %>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Brutouurloon:</b>
  <%= @user.hourly_gross %>
</p>

<p>
  <b>Nettouurloon:</b>
  <%= @user.hourly_net_wage %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
