<p id="notice"><%= notice %></p>



<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Gross hourly wage: </b>
  <%= @user.hourly_gross %>
</p>

<p>
  <b>Net hourly wage:</b>
  <%= @user.hourly_net_wage %>
</p>


<%= link_to 'Edit User', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<% totalhours = 0 %>
<% totalmoney = 0 %>
<table class="table table-striped">
	<th>Date of workhour</th><th>Hours worked</th><th>Factor % </th><th>Net hourly wage</th><th>Earned money this day</th>
 		<% @user.workhours.each do |workhour| %>
 		<% totaltoday =  (workhour.hours * workhour.net_wage) / 100 * workhour.factor  %>
 		<% totalhours += workhour.hours   %>
 		<% totalmoney += totaltoday  %> 
 		<tr> <td><%= workhour.date_of_workhour %> </td><td><%= workhour.hours %></td><td><%= workhour.factor %>%</td><td>&euro;<%= workhour.net_wage %> </td> <td>&euro;<%= totaltoday %></td></tr>
 		<% end %>
</table>

<table class="table table-striped">
	<tr><td><b>Total hours worked</b></td> <td><%= totalhours %></td> </tr>
	<tr><td><b><%= totalhours %> </b></td> <td><%= totalmoney %> </td> </tr>
</table>
